$tab-width: 5.5vh;
$tab-color: #ffffff;

$border-width: 3px;
$border-color: #aaa;

$border: $border-color solid $border-width;
$border-spacing: 2%;
$min-border: 5px;

#root {
    width: 100vw;
    height: 100vh;

	display: flex;
	flex-direction: column;

    overflow: hidden;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.smallborder-horizontal {
    width: 100%;
    height: $border-width;

    display: flex;
    align-items: center;
    justify-content: center;

    & div {
		box-sizing: border-box;
		border-bottom: $border;
        width: calc(100% - $border-spacing * 2);
        height: 100%;
        // background-color: $border-color;
    }
}

.smallborder-vertical {
    width: $border-width;

    display: flex;
    align-items: center;
    justify-content: center;

    & div {
        width: 100%;
        height: calc(100% - $border-spacing * 2);
        background-color: $border-color;
    }

    height: 100%;
}

.container-horizontal {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

	flex: 1;
}

#tab-container {
	flex: 1;
	width: 100%;
}

#main-content-container {
	display: flex;
	// flex-direction: column;

    position: relative;
	flex: 1;

    overflow: hidden;
}

#headbar {
    width: 100%;
    height: $tab-width;

    // background-color: $tab-color;
}

#tabsbar {
    width: 100%;
    height: $tab-width;
}

#toolbar {
    width: 100%;
    height: $tab-width;

    display: flex;
}

.toolbar-tool {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // justify-self: right;
    

    height: 70%;
    aspect-ratio: 1;

    grid-row: 1;
    display: flex;

    filter: opacity(25%);

    cursor: pointer;
}

#sidebar {
    height: 100%;
    width: 15vw;
}

#minisidebar {
    height: 100%;
    width: 3.5vw;
}

#tab-container {
	flex: 1;
}